body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* ejemplo de transicion de color de fondo */
.cambioColor {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: black;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
  /* transition-delay: 1s; */
}

.cambioColor:hover {
  background-color: #9353e0;
}

/* ejemplo cambio de tamaño de tipografia */

.parrafoGrande {
  font-size: 1rem;
  transition: font-size 500ms ease-out;
}

.parrafoGrande:hover {
  font-size: 1.5rem;
  cursor: pointer;
}

.opacidad {
  background-color: lightskyblue;
  width: 200px;
  height: 100px;
  color: black;
  opacity: 0.5;
  transition: opacity 200ms ease-in, background-color 200ms linear;
}

.opacidad:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgb(223, 250, 135);
}

.texto-subrayado {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.texto-subrayado::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0;
  background-color: #46b8ed;
  transition: width 500ms linear;
}

.texto-subrayado:hover::after {
  width: 100%;
}

/* ejemplos de animaciones */

.movimiento {
  width: 200px;
  height: 80px;
  animation-name: desplazamiento;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* animacion de rotacion */
.parrafoRelojArena {
  display: inline-block;
  animation: girar 2s linear infinite;
}

.escalarMundo{
  display: inline-block;
  animation: escalar 1s ease-in-out infinite;
}

.contenedorCorazon{
  width: 300px;
  height: 250px;
}

.animarCorazon{
  animation: escalarCorazon 2s ease infinite;
}

.areaDesplazamiento{
  width: 350px;
  height: 300px;
}

.circulo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #46b8ed;
  position: relative;
  animation: movimientoComplejo 7s linear infinite;
  transition: border-radius 400ms linear;
}

.circulo:hover{
  border-radius: 0%;
}

@keyframes movimientoComplejo {
  0%{
    left: 0px;
    top: 0px;
  }
  25%{
    top: 0px;
    left: 100px;
  }
  50%{
    top: 100px;
    left: 100px;
  }
  75%{
    left: 0px;
    top: 100px;
  }
  100%{
    top: 0%;
    left: 0%;
  }
}


@keyframes desplazamiento {
  from {
    /* animacion al inicio */
    transform: translateX(0);
  }
  to {
    /* animacion al final */
    transform: translateX(200px);
  }
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes escalar {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.9);
  }
}

@keyframes escalarCorazon{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  75%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1.5);
  }

}